@import "libs/slick";

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/base";

@import "includes/header";
@import "includes/footer";

@import "components/loader";
@import "components/popup";

body,
html {
  position: relative;
  overflow-x: hidden;
  background-color: #073818;
  color: #fff;
  font-family: 'Gotham Pro', sans-serif;
}

body {
  background-image: url('../img/back.svg');
  background-position: center 88px;
  background-repeat: no-repeat;
  background-size: initial;

  @include response-to(small) {
    background-size: 220%;
  }
}

.caption {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;

  @include response-to(small) {
    font-size: 21px;
    line-height: 120%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.left-top-tag {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  @include response-to(small) {
    width: 180px;
    height: 145px;
  }
}

.header {
  margin: 30px auto 0;
  text-align: center;
  padding-bottom: 64px;

  &__logo {
    display: block;
    margin-bottom: 41px;
    margin-left: auto;
    margin-right: auto;

    @include response-to(small) {
      width: 90px;
      height: 41px;
    }
  }

  &__caption {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 59px;

    @include response-to(small) {
      font-size: 24px;
    }

    span {
      font-weight: bold;
      display: block;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      background: -webkit-linear-gradient(180deg, #B58840, #F2E996, #B58840);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include response-to(small) {
        margin-bottom: 8px;
      }
    }
  }

  &__jars {
    display: flex;
    justify-content: center;
    align-items: center;

    .slick-track {
      padding-bottom: 100px;
    }

    &_item {
      position: relative;

      @include response-to(small) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &.slick-active {

        .header__jars_img,
        .header__jars_about {
          opacity: 1;
        }
      }

      &.right {

        .header__jars_about {
          top: 113px;
          left: calc(100% + 17px);

          @include response-to(large) {
            left: calc(100% - 33px);
          }
        }

        .header__jars_img {
          margin-right: -53px;

          @include response-to(small) {
            width: 228px;
            transform: translateX(-31%);
          }
        }
      }

      &.left {

        .header__jars_about {
          right: 100%;
          top: 15px;

          @include response-to(large) {
            right: 80%;
          }
        }

        .header__jars_img {

          @include response-to(small) {
            width: 205px;
            transform: translateX(-64%);
          }
        }
      }
    }

    &_img {
      display: block;
      height: 300px;

      @include response-to(small) {
        position: relative;
        margin-bottom: 63px;
        margin-left: 0;
        margin-right: 0;
        opacity: 0;
        left: 50%;
        @include transition-ease;
      }
    }

    &_about {
      position: absolute;
      width: 320px;
      text-align: center;

      @include response-to(small) {
        position: relative;
        left: unset!important;
        right: unset!important;
        top: unset!important;
        bottom: unset!important;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        @include transition-ease;
      }

      &-bg {
        position: absolute;
        left: 50%;
        top: -100px;
        transform: translateX(-50%);
        z-index: 1;
      }

      &-title {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 14px;
        position: relative;
        z-index: 2;
        background: -webkit-linear-gradient(180deg, #B58840, #F2E996, #B58840);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Vollkorn', sans-serif;
        font-style: italic;

        .decor {
          position: absolute;
          left: 100%;
          top: -5px;
          font-family: 'Arial', sans-serif;
          font-size: 20px;
          -webkit-text-fill-color: #B58840;
        }
      }

      &-subtitle {
        font-weight: bold;
        letter-spacing: -0.2px;
        font-size: 21px;
        line-height: 130%;
        font-style: italic;
        position: relative;
        z-index: 2;
        margin-bottom: 56px;
        background: -webkit-linear-gradient(180deg, #B58840, #F2E996, #B58840);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background-image: url('../img/decor.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: initial;
          bottom: -35px;
          width: 26px;
          height: 15px;
          display: block;
        }
      }

      &-text {
        font-size: 16px;
        line-height: 130%;
        color: #E6CFA0;
        position: relative;
        z-index: 1;
      }
    }

    &_arrow {
      position: absolute;
      z-index: 100;
      width: 14px;
      height: 28px;
      top: 102px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;

      &.lt {
        left: 32px;
        background-image: url('../img/header_left.svg');
      }

      &.rt {
        right: 32px;
        background-image: url('../img/header_right.svg');
      }
    }
  }
}

.main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .recipes {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;

    &__arrow {
      position: absolute;
      z-index: 100;
      width: 50px;
      height: 50px;
      top: 149px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;

      &.lt {
        left: 24px;
        background-image: url('../img/ricepes-lt.svg');
      }

      &.rt {
        right: 24px;
        background-image: url('../img/ricepes-rt.svg');
      }
    }

    &__bg {
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @include response-to(small) {
        display: none;
      }
    }

    &__item {
      position: relative;
      z-index: 1;
      width: 300px;
      height: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 50px;
      background-color: #073818;
      border: 2px solid #D4B464;
      border-radius: 15px;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
      background-image: url('../img/riceps_item-bg.svg');
      background-position: center -12px;
      background-size: initial;
      background-repeat: no-repeat;
      cursor: pointer;
      @include transition-ease;
      box-shadow: 0 0 0 #02240E;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 25px #02240E;
      }

      .tag {
        position: absolute;
        z-index: 2;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        width: 135px;
        height: 30px;
        text-align: center;
        padding-top: 3px;
        box-sizing: border-box;
        left: -14px;
        top: 20px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.caramel {
          background-image: url('../img/caramel-tag-bg.svg');

          &.bottom {
            top: 60px;
          }
        }

        &.nut {
          background-image: url('../img/nut-tag-bg.svg');
        }
      }

      @include response-to(small) {
        max-width: 300px;
        margin-left: calc((100vw - 300px) / 2);
        margin-right: calc((100vw - 300px) / 2);
      }

      &_title {
        color: #D4B464;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 110%;
        text-align: center;
        height: 36px;
        margin-top: 20px;
      }
    }
  }

  .shops {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 43px;

    @include response-to(small) {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__item {
      margin-bottom: 23px;

      @include response-to(small) {
        height: auto;
        width: 148px;
      }
    }
  }
}

.footer {
  position: relative;
  margin-top: 203px;

  @include response-to(small) {
    margin-top: 165px;
  }

  &-bg {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    @include response-to(small) {
      transform: translateX(-50%) rotate(12deg);
      left: -50%;
      bottom: 110px;
      z-index: 0;
    }
  }

  &__menu {
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    @include response-to(small) {
      margin-bottom: 32px;
    }

    ul {
      @include flex-center();
    }

    &_item {
      padding: 0 13px;

      &:not(:last-of-type) {
        border-right: 1px solid #FFDD67;

        @include response-to(small) {
          margin-bottom: 15px;
          border-right: unset;
        }
      }
    }

    &_link {
      color: #FFDD67;
      font-size: 12px;
      line-height: 130%;

      @include on-event {
        text-decoration: underline;
      }
    }
  }

  &__text {
    z-index: 2;
    position: relative;
    color: #FFDD67;
    margin-bottom: 23px;
    text-align: center;

    &_top {
      font-size: 12px;
      line-height: 13px;
      margin-bottom: 15px;
    }

    &_bottom {
      font-size: 10px;
      line-height: 13px;
    }
  }
}


